<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="”content-language”" content="”zh-Hans”" />
    <link rel="icon" type="image/x-icon" href="icon/ibongda.ico" />
    <link rel="shortcut icon" href="https://2022-thef2e.vercel.app/icon/ibongda.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-title" content="前端修炼工房" />
    <title>前端修炼工房</title>

    <link rel="canonical" href="https://2022-thef2e.vercel.app/" />
    <link rel="pingback" href="https://2022-thef2e.vercel.app/" />
    <link rel="alternate" href="https://2022-thef2e.vercel.app/" hreflang="zh-Hans" />

    <meta name="description" content="查尔斯个人作品集,是做过的动画效果" />
    <meta name="keywords" content="前端,前端开发,web前端技术,前端设计" />

    <meta property="og:site_name" content="前端修炼工房" />
    <meta property="og:title" content="前端修炼工房" />
    <meta property="og:description" content="查尔斯个人作品集,是做过的动画效果" />
    <meta property="og:url" content="https://2022-thef2e.vercel.app/" />
    <meta property="og:image" content="https://2022-thef2e.vercel.app/images/website-logo.png" />
    <meta property="og:type" content="website" />
    <meta property="article:publisher" content="前端修炼工房" />

    <%- include('partials/google-site-verification.ejs') %>

    <link rel="stylesheet" href="https://2022-thef2e.vercel.app/css/headlines-list.css" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "前端修炼工房",
        "url": "https://2022-thef2e.vercel.app/",
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "前端修炼工房",
        "url": "https://2022-thef2e.vercel.app/",
        "logo": {
          "@type": "imageObject",
          "url": "https://2022-thef2e.vercel.app/icon/ibongda.ico",
          "alternateName": "前端修炼工房",
          "width": 212,
          "height": 38
        }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
